.field-button {
  background-color: var(--themeMainColor);
  color: #ffffff;
  padding: 10px;
  width: 100%;
  border-style: none;
  border-radius: 5px;
}

.field-button:hover {
  background-color: var(--themeButtonHoverColor);
  color: #ffffff;
}

.field-button:active {
  background-color: var(--themeButtonClickedColor);
  color: #ffffff;
}
