.card-heading h1 {
  margin-bottom: 5px;
}
.card-heading h6 {
  margin-top: 5px;
  color: #788399;
}
.card-heading {
  margin: 1rem;
}

@media (max-width: 575px) {
  .card-heading {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
