:root {
  --mainBackgroundColor: #e6eaf2;
  --themeMainColor:hsl(250, 75%, 60%);
  --themeButtonHoverColor:hsl(250, 72%, 57%);
  --themeButtonClickedColor:hsl(250, 70%, 54%);
  --borderColor:#e9e9e9;
  --nodeSize:30px
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--mainBackgroundColor);
}

.text-center {
  text-align: center;
}